{% extends 'base.html' %}
{% block title %}Issue Tracker{% endblock %}
{% block menu_links %}
    {% if perms.accounts.can_view_user_list %}
{#        <li class="nav-item active">#}
{#            <a class="nav-link" href="{% url 'accounts:list' %}">User list</a>#}
{#        </li>#}
    {% endif %}
{% endblock %}

{% block content %}
<div>
    <h6>Топ 5 пользователей:</h6>
    {% for user in main_users %}
        <p>{{ user.username }}</p>
    {% empty %}
        <h3>No users</h3>
    {% endfor %}
    <h6>Новые посты:</h6>
    {% for post in main_posts %}
        <p>{{ post.title }}</p>
    {% empty %}
        <h3>No posts</h3>
    {% endfor %}
    <h6>Теги:</h6>
    {% for tag in main_tags %}
        <h5>{{ tag.name }}</h5>
    {% empty %}
        <h3>No tags</h3>
    {% endfor %}
</div>
{% endblock %}